/* GENERAL STYLING */

body {
    background-color: #191919;
    font-family: "Nunito", sans-serif;
    padding-top: 70px;
}

nav {
    background-color: white;

}

.sm-icons {
    flex-direction: row;
}

@media only screen and (max-width: 960px) {
    .sm-icons .nav-item {
        padding-right: 1em;
    }
}

/* INDEX PAGE */

#frontDesign div h1 {
    font-weight: 100;
    font-size: 3.5vw;
}

#frontDesign div h2 {
    font-weight: 100;
    font-size: 2.0vw;
}

#frontDesign div {
    margin: none;
    scrollbar-gutter: none;
    background-color: #191919;
}

@media (max-width: 991px) {
    #frontDesign div h1 {
        font-size: 2.5em;
    }

    #frontDesign div h2 {
        font-size: 1.25em;
    }

    #frontDesign div img {
        max-width: 600px;
    }
}

.featured {
    margin-top: 30px;
    margin-bottom: 30px;
}

.featured h1 {
    font-weight: 100;
    font-size: 3.5vw;
    color: #f0ffff;
}

#homeCarousel {
    max-width: 600px;
}

/* CONTACT US PAGE */

#contactPage h1 {
    font-size: 1.5em;
}

#contactPage h2 {
    font-size: 1.5em;
}

#contactForm .form-control {
    border-radius: 20px;
}

#contactForm .btn {
    border-radius: 30px;
    font-size: 1.2em;
}

/* ABOUT PAGE */

#aboutHeading h1 {
    font-weight: 100;
}

#aboutHeading p {
    color: azure;
    font-weight: 100;
    font-size: 18px;
}

.centerBlock {
    display: table;
    margin: auto;
}

/* FOOTER */

#footerLinks a {
    color: rgb(125, 125, 125);
}

footer section div div div h6,
footer section div div div p,
footer section div div div p a,
p {
    color: black;
}

.about-info,
.about-img {
    padding-left: 20px;
    padding-right: 20px;
}

.about-info {
    color: #ffffff;
    font-size: 18px;
    font-weight: 100;
}

.about-img img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

@media (min-width: 991px) {
    .about-info {
        min-width: 750px;
    }
}

.about-info p {
    color: white !important;

}

/* 
.avika {
    border-width: 5px;
    border-top: #ffffff;
    border-bottom: #ffffff;
} */