/* GENERAL STYLING */

:root {
    --dblue: rgb(40, 63, 104);
    /* --bblue: rgb(76, 168, 223); */
    --dgblue: rgb(154, 185, 241);
    --offwhite: rgb(230, 238, 251);
    --white: rgb(249, 251, 254);
    --gray: rgb(94, 110, 135);
    --lblue: rgb(207, 214, 229);
}

body {
    background-color: var(--lblue);
    font-family: "Nunito", sans-serif;
    padding-top: 70px;
}

h1,
p,
h2,
label,
#featured {
    color: var(--dblue);
}

nav {
    background-color: var(--dblue);

}

.navbar-brand,
.nav-link {
    color: var(--offwhite);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(230, 238, 251)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    border-color: var(--dblue);
}

.sm-icons {
    flex-direction: row;
}

@media only screen and (max-width: 960px) {
    .sm-icons .nav-item {
        padding-right: 1em;
    }
}

/* INDEX PAGE */

#frontDesign div h1 {
    font-weight: 100;
    font-size: 3.5vw;
}

#frontDesign div h2 {
    font-weight: 100;
    font-size: 2.0vw;
}

#frontDesign div {
    margin: none;
    scrollbar-gutter: none;
    background-color: var(--lblue);
}

@media (max-width: 991px) {
    #frontDesign div h1 {
        font-size: 2.5em;
    }

    #frontDesign div h2 {
        font-size: 1.25em;
    }

    #frontDesign div img {
        max-width: 600px;
    }
}

.featured {
    margin-top: 30px;
    margin-bottom: 30px;
}

.featured h1 {
    font-weight: 100;
    font-size: 3.5vw;
}

#homeCarousel {
    max-width: 600px;
}

/* CONTACT US PAGE */

#contactPage h1 {
    font-size: 1.5em;
}

#contactPage h2 {
    font-size: 1.5em;
}

#contactForm .form-control {
    border-radius: 20px;
}

#contactForm .btn {
    border-radius: 30px;
    font-size: 1.2em;
    border-color: var(--dblue);
    color: var(--dblue);
}

/* #checkMark {
    width: 200px;
    height: 200px;
} */

/* ABOUT PAGE */

#aboutHeading h1 {
    font-weight: 100;
}

#aboutHeading p {
    font-weight: 100;
    font-size: 18px;
}

.whole-about {
    border: 1px solid rgb(48, 47, 47);
    border-radius: 50px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 20px 5px 20px;
}

.whole-about:nth-of-type(1) {
    margin-top: 0px;
}

/* FOOTER */

footer {
    background-color: var(--offwhite);
}

#footerBanner {
    background-color: var(--dblue);
}

#footerBanner div span,
#footerBanner div a i {
    color: var(--offwhite);
}

hr {
    width: 60px;
    background-color: var(--dblue);
    height: 2px;
}

footer section div div div h6,
footer section div div div p,
footer section div div div p a,
p,
#footerLinks a {
    /* color: rgb(125, 125, 125); */
    color: var(--dblue);
}

footer section div div div p a:hover {
    color: var(--dblue);
}

/* 
footer section div div div h6,
footer section div div div p,
footer section div div div p a,
p {
    color: black;
} */

.about-info,
.about-img {
    padding-left: 20px;
    padding-right: 20px;
}

.about-info {
    color: #ffffff;
    font-size: 18px;
    font-weight: 100;
}

.about-img img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

@media (min-width: 1053px) {
    .about-info {
        min-width: 750px;
    }
}

.about-info p {
    color: white !important;

}

.carousel {
    max-width: 600px;
}

.carousel-item {
    max-width: 600px;
    max-height: 369px;
}