:root {
    /* */
    --dblue: rgb(40, 63, 103);
    --bblue: rgb(76, 168, 223);
    --dgblue: rgb(176, 198, 239);
    /* */
    --offwhite: rgb(230, 238, 251);
    --white: rgb(249, 251, 254);
    --gray: rgb(94, 110, 135);
    /* */
    --lblue: rgb(169, 217, 235);
    /* */
    /* --green: #1b746a; */
    --green: rgb(22, 127, 169);
}

body {
    background-color: var(--lblue);
    font-family: "Montserrat", sans-serif;
    padding-top: 100px;
}

.row {
    margin: 0;
}

nav {
    background-color: var(--dblue);
}

.navbar-brand,
.nav-link {
    color: var(--offwhite);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(230, 238, 251)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    border-color: var(--dblue);
}

.sm-icons {
    flex-direction: row;
}

@media only screen and (max-width: 960px) {
    .sm-icons .nav-item {
        padding-right: 1em;
    }
}

#carHeading h1 {
    font-weight: 300;
}

#carHeading p {
    font-weight: 300;
    font-size: 18px;
}

.form-inputs {
    margin-left: 100px;
    margin-right: 100px;
}

.form-inputs {
    position: relative;
}

.form-inputs input {
    border-radius: 30px;
}

.form-inputs i {
    position: absolute;
    right: 15px;
    top: 10px;
    color: gray;
}

/* media query para sides on smaller screen */
.car-intro {
    padding-left: 5em;
    padding-right: 5rem;
}

.car-cards {
    margin: 20px;
}

.card {
    padding: 20px;
    margin-top: 20px;
}

.card-text,
.card-title,
.card-button {
    margin-left: 20px;
}

.card-title {
    margin-top: 10px;
}

.card-text {
    font-size: 16px;
    color: #191919;
}

.card-price {
    font-weight: bold;
}

.card-button {
    background-color: rgb(200, 200, 200)
}

.carousel {
    max-width: 300px;
}

.carousel-item {
    max-width: 300px;
    max-height: 180px;
}

/* FOOTER */

footer {
    background-color: var(--dblue);
}

#footerBanner {
    background-color: var(--green);
}

#footerBanner div span,
#footerBanner div a i {
    color: var(--offwhite);
}

hr {
    width: 60px;
    background-color: var(--offwhite);
    height: 2px;
}

footer section div div div h6,
footer section div div div p,
footer section div div div p a,
#footerLinks a {
    /* color: rgb(125, 125, 125); */
    color: var(--offwhite);
}

footer section div div div p a:hover {
    color: var(--offwhite);
}