/* GENERAL STYLING */

body {
    background-color: #191919;
    font-family: "Nunito", sans-serif;
    padding-top: 70px;
}

nav {
    background-color: white;

}

.sm-icons {
    flex-direction: row;
}

@media only screen and (max-width: 960px) {
    .sm-icons .nav-item {
        padding-right: 1em;
    }
}

.main-info p {
    font-size: 30px;
    font-weight: 700px;
    color: azure;
}

@media (max-width: 991px) {
    .main-info p {
        font-size: 3vw;
    }
}


/* FOOTER */

#footerLinks a {
    color: rgb(125, 125, 125);
}

footer section div div div h6,
footer section div div div p,
footer section div div div p a,
p {
    color: black;
}