/* GENERAL STYLING */

:root {
    /* */
    --dblue: rgb(40, 63, 103);
    --bblue: rgb(76, 168, 223);
    --dgblue: rgb(176, 198, 239);
    /* */
    --offwhite: rgb(230, 238, 251);
    --white: rgb(249, 251, 254);
    --gray: rgb(94, 110, 135);
    /* */
    --lblue: rgb(169, 217, 235);
    /* */
    /* --green: #1b746a; */
    --green: rgb(22, 127, 169);
}

body {
    background-color: var(--lblue);
    font-family: "Montserrat", sans-serif;
    padding-top: 100px;
}

.row {
    margin: 0;
}

h1,
p,
h2,
label {
    color: var(--dblue);
}

nav {
    background-color: var(--dblue);
}

.navbar-brand,
.nav-link {
    color: var(--offwhite);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(230, 238, 251)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    border-color: var(--dblue);
}

.sm-icons {
    flex-direction: row;
}

@media only screen and (max-width: 960px) {
    .sm-icons .nav-item {
        padding-right: 1em;
    }
}

.main-info h1 {
    font-size: 30px;
    font-weight: 300px;
}

@media (max-width: 991px) {
    .main-info h1 {
        font-size: 3vw;
    }
}

#carTitle {
    margin-top: 60px;
}

#carPrice {
    font-weight: 400;
    font-size: 25px;
}

#carBio {
    font-style: italic;
    margin-top: 30px;
}

#calcBtn {
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* flex: 1 1 auto; */
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px var(--lblue);
    border-radius: 100px;
    background-image: linear-gradient(to right, var(--dblue) 0%, rgb(33, 175, 210) 51%, var(--dblue) 100%);
}

#calcBtn:hover {
    background-position: right center;
    /* change the direction of the change here */
}

.divider {
    height: 2px;
    width: 85%;
    margin: auto;
    background-color: var(--dblue);
    margin-top: 30px;
}


.highlights-divider {
    height: 1px;
    width: 100%;
    margin: auto;
    background-color: var(--dblue);
    margin-top: 5px;
    margin-bottom: 21px;
}

.not-generated {
    font-weight: 300;
}

/* FOOTER */

footer {
    background-color: var(--dblue);
}

#footerBanner {
    background-color: var(--green);
}

#footerBanner div span,
#footerBanner div a i {
    color: var(--offwhite);
}

hr {
    width: 60px;
    background-color: var(--offwhite);
    height: 2px;
}

footer section div div div h6,
footer section div div div p,
footer section div div div p a,
#footerLinks a {
    /* color: rgb(125, 125, 125); */
    color: var(--offwhite);
}

footer section div div div p a:hover {
    color: var(--offwhite);
}