:root {
    /* */
    --dblue: rgb(40, 63, 103);
    --bblue: rgb(76, 168, 223);
    --dgblue: rgb(176, 198, 239);
    /* */
    --offwhite: rgb(230, 238, 251);
    --white: rgb(249, 251, 254);
    --gray: rgb(94, 110, 135);
    /* */
    --lblue: rgb(169, 217, 235);
    /* */
    /* --green: #1b746a; */
    --green: rgb(22, 127, 169);
}

body {
    background-color: var(--lblue);
    font-family: "Montserrat", sans-serif;
    padding-top: 100px;
}

.row {
    margin: 0;
}

nav {
    background-color: var(--dblue);
}

.navbar-brand,
.nav-link {
    color: var(--offwhite);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(230, 238, 251)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    border-color: var(--dblue);
}

.sm-icons {
    flex-direction: row;
}

@media only screen and (max-width: 960px) {
    .sm-icons .nav-item {
        padding-right: 1em;
    }
}

h1,
p,
h2,
label {
    color: var(--dblue);
}

.time-block {
    background-color: var(--gray);
}

.time-label {
    color: var(--dblue);
}

.time-block:checked+label {
    background-color: var(--dblue);
    color: var(--white);
}

#reserveHeading h1,
#reserveHeading p {
    font-weight: 300;
}

#reserveHeading p {
    font-size: 18px;
}

.form-stepper {
    width: 90%;
}

.time-block {
    position: fixed;
    opacity: 0;
}

.time-label {
    width: 200px;
}

label {
    display: block;
}

/* GITCONNECTED STYLING */
h1 {
    text-align: center;
}

h2 {
    margin: 0;
}

#multi-step-form-container {
    margin-top: 5rem;
}

.text-center {
    text-align: center;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.pl-0 {
    padding-left: 0;
}

.button {
    padding: 0.7rem 1.5rem;
    border: 1px solid var(--green);
    background-color: var(--green);
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn {
    border: 1px solid var(--dblue);
    background-color: var(--dblue);
}

.mt-3 {
    margin-top: 2rem;
}

.d-none {
    display: none;
}

.form-step {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 3rem;
}

.font-normal {
    font-weight: normal;
}

ul.form-stepper {
    counter-reset: section;
    margin-bottom: 3rem;
}

ul.form-stepper .form-stepper-circle {
    position: relative;
}

ul.form-stepper .form-stepper-circle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.form-stepper-horizontal {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

ul.form-stepper>li:not(:last-of-type) {
    margin-bottom: 0.625rem;
    -webkit-transition: margin-bottom 0.4s;
    -o-transition: margin-bottom 0.4s;
    transition: margin-bottom 0.4s;
}

.form-stepper-horizontal>li:not(:last-of-type) {
    margin-bottom: 0 !important;
}

.form-stepper-horizontal li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.form-stepper-horizontal li:not(:last-child):after {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1px;
    content: "";
    top: 32%;
}

.form-stepper-horizontal li:after {
    background-color: #000000;
}

.form-stepper-horizontal li.form-stepper-completed:after {
    background-color: #4da3ff;
}

.form-stepper-horizontal li:last-child {
    flex: unset;
}

ul.form-stepper li a .form-stepper-circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 0;
    line-height: 1.7rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.38);
    border-radius: 50%;
}

.form-stepper .form-stepper-active .form-stepper-circle {
    background-color: var(--green) !important;
    color: #fff;
}

.form-stepper .form-stepper-active .label {
    color: var(--green) !important;
}

.form-stepper .form-stepper-active .form-stepper-circle:hover {
    background-color: var(--green) !important;
    color: #fff !important;
}

.form-stepper .form-stepper-unfinished .form-stepper-circle {
    background-color: #f8f7ff;
}

.form-stepper .form-stepper-completed .form-stepper-circle {
    background-color: var(--dblue) !important;
    color: #fff;
}

.form-stepper .form-stepper-completed .label {
    color: var(--dblue) !important;
}

.form-stepper .form-stepper-completed .form-stepper-circle:hover {
    background-color: var(--dblue) !important;
    color: #fff !important;
}

.form-stepper .form-stepper-active span.text-muted {
    color: #fff !important;
}

.form-stepper .form-stepper-completed span.text-muted {
    color: #fff !important;
}

.form-stepper .label {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.form-stepper a {
    cursor: default;
}


.highlight {
    background: rgb(176, 176, 176);
}

car-card {
    width: 300px;
    height: 330px;
}

.personal-info div div input,
.personal-info div select {
    border-radius: 100px;
}

.preferred {
    padding-right: 16px;
    padding-left: 16px;
}

/* FOOTER */

footer {
    background-color: var(--dblue);
}

#footerBanner {
    background-color: var(--green);
}

#footerBanner div span,
#footerBanner div a i {
    color: var(--offwhite);
}

hr {
    width: 60px;
    background-color: var(--offwhite);
    height: 2px;
}

footer section div div div h6,
footer section div div div p,
footer section div div div p a,
#footerLinks a {
    /* color: rgb(125, 125, 125); */
    color: var(--offwhite);
}

footer section div div div p a:hover {
    color: var(--offwhite);
}

/* CALENDAR */
.dateInput {
    position: relative;
}

.timetable_container {
    position: relative;
}

/* 
.timetable_container.hide {
    display: none;
} */

.timetable_container .calendar {
    box-shadow: 0 0 10px #878787;
    padding: 1em;
    border-radius: 10px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: max-content;
    grid-auto-flow: row;
    color: black;
    background-color: var(--white);
}

.timetable_container .cell {
    padding: 0.4em 0.8em;
    text-align: center;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.timetable_container .cell:not(.cell--unselectable) {
    cursor: pointer;
}

.timetable_container .cell:hover,
.cell:focus {
    color: var(--white);
    background-color: var(--green);
    border-radius: 10px;
}

.timetable_container .cell:empty {
    width: 0;
    padding: 0;
}

.timetable_container .cell--unselectable {
    color: hsl(231, 20%, 50%);
}

.timetable_container .cell--unselectable:hover,
.cell--unselectable:focus {
    color: hsl(231, 20%, 50%);
    background-color: transparent;
}

.timetable_container .date-text {
    padding: 1em 0.8em;
    grid-column: 1 / 5;
    justify-self: start;
    display: flex;
    align-items: center;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.timetable_container .button {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* OTHER */

.timetable_container {
    height: 350px;
    width: 391.3px;
}

input#date {
    display: block;
    width: 200px;
    border-radius: 10px;
    padding: 10px;
    margin: 50px auto;
    border: none;
}

input#date::-webkit-calendar-picker-indicator {
    display: none;
}

input#date::-webkit-calendar-picker-indicator {
    color: #fff;
    background-color: #fff;
    border-radius: 5px;
}

#input-calendar {
    width: 400px;
    height: 500px;
}